.HIGH-buscando {
  background-color: var(--x-2);
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.HIGH-buscando .rectangle {
  position: absolute;
  top: -3408px;
  left: -8780px;
  width: 104px;
  height: 133px;
}

.HIGH-buscando .img {
  position: absolute;
  top: -3362px;
  left: -8143px;
  width: 81px;
  height: 68px;
}

.HIGH-buscando .rectangle-2 {
  position: absolute;
  top: -3362px;
  left: -8143px;
  width: 140px;
  height: 227px;
}

.HIGH-buscando .rectangle-3 {
  position: absolute;
  top: -3313px;
  left: -8751px;
  width: 59px;
  height: 75px;
}

.HIGH-buscando .image {
  position: absolute;
  top: 452px;
  left: 897px;
  width: 293px;
  height: 293px;
  aspect-ratio: 1;
  object-fit: cover;
}

.HIGH-buscando .lovepik-com {
  position: absolute;
  top: 185px;
  left: 659px;
  width: 153px;
  height: 122px;
  aspect-ratio: 1.25;
}

.HIGH-buscando .pngtreewhite-cloud {
  position: absolute;
  top: -5788px;
  left: -8591px;
  width: 335px;
  height: 335px;
  aspect-ratio: 1;
  object-fit: cover;
}

.HIGH-buscando .pngtreewhite-cloud-2 {
  position: absolute;
  top: 599px;
  left: 0;
  width: 598px;
  height: 425px;
  aspect-ratio: 1.21;
}

.HIGH-buscando .pngtreeblue-sky-with {
  top: 0;
  height: 428px;
  position: absolute;
  left: 0;
  width: 1440px;
  aspect-ratio: 3.37;
}

.HIGH-buscando .pngtreeblue-sky-with-2 {
  top: 605px;
  height: 419px;
  position: absolute;
  left: 0;
  width: 1440px;
  aspect-ratio: 3.37;
}

.HIGH-buscando .text-wrapper {
  position: fixed;
  top: 307px;
  left: 583px;
  width: 314px;
  font-family: "Kameron-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.HIGH-buscando .div {
  position: fixed;
  top: 392px;
  left: 567px;
  width: 346px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #000000;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}