.high-minhas-compras {
  background-color: var(--x-2);
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 828px;
  position: relative;
}

.high-minhas-compras .line {
  top: 161px;
  height: 7px;
  position: absolute;
  left: 113px;
  width: 1236px;
}

.high-minhas-compras .rectangle {
  position: absolute;
  top: -5686px;
  left: -5154px;
  width: 104px;
  height: 133px;
}

.high-minhas-compras .img {
  position: absolute;
  top: -5639px;
  left: -4517px;
  width: 140px;
  height: 227px;
}

.high-minhas-compras .rectangle-2 {
  position: absolute;
  top: -5590px;
  left: -5125px;
  width: 59px;
  height: 75px;
}

.high-minhas-compras .line-2 {
  top: 741px;
  height: 3px;
  object-fit: cover;
  position: absolute;
  left: 113px;
  width: 1236px;
}

.high-minhas-compras .linkedin {
  position: absolute;
  top: 770px;
  left: 79px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .twitter {
  position: absolute;
  top: 770px;
  left: 136px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .whatsapp {
  position: absolute;
  top: 770px;
  left: 193px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .instagram {
  position: absolute;
  top: 770px;
  left: 250px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .text-wrapper {
  position: absolute;
  top: 4685px;
  left: 1094px;
  width: 59px;
  font-family: var(--5-font-family);
  font-weight: var(--5-font-weight);
  color: var(--x-3);
  font-size: var(--5-font-size);
  letter-spacing: var(--5-letter-spacing);
  line-height: var(--5-line-height);
  font-style: var(--5-font-style);
}

.high-minhas-compras .pngtreewhite-cloud {
  position: absolute;
  top: 296px;
  left: 9px;
  width: 598px;
  height: 521px;
  aspect-ratio: 1.21;
}

.high-minhas-compras .pngtreewhite-cloud-2 {
  top: 96px;
  left: 911px;
  width: 529px;
  height: 538px;
  position: absolute;
  aspect-ratio: 1.21;
}

.high-minhas-compras .pngtreewhite-cloud-3 {
  top: 414px;
  left: 324px;
  width: 598px;
  height: 414px;
  position: absolute;
  aspect-ratio: 1.21;
}

.high-minhas-compras .div {
  position: absolute;
  top: 425px;
  left: 255px;
  width: 89px;
  font-family: var(--5-font-family);
  font-weight: var(--5-font-weight);
  color: var(--x-3);
  font-size: var(--5-font-size);
  letter-spacing: var(--5-letter-spacing);
  line-height: var(--5-line-height);
  white-space: nowrap;
  font-style: var(--5-font-style);
}

.high-minhas-compras .p {
  position: absolute;
  top: 193px;
  left: 550px;
  width: 408px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  font-style: var(--3-font-style);
}

.high-minhas-compras .image {
  position: absolute;
  top: 296px;
  left: 586px;
  width: 292px;
  height: 292px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-2 {
  position: absolute;
  top: 149px;
  left: 24px;
  width: 35px;
  height: 35px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .rectangle-3 {
  position: fixed;
  top: -14px;
  left: 24px;
  width: 1392px;
  height: 160px;
  background-color: var(--x-3);
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.high-minhas-compras .lovepik-com {
  position: fixed;
  top: 18px;
  left: 475px;
  width: 138px;
  height: 110px;
  aspect-ratio: 1.25;
}

.high-minhas-compras .image-3 {
  position: fixed;
  top: 32px;
  left: 623px;
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-4 {
  position: fixed;
  top: 14px;
  left: 671px;
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-5 {
  position: fixed;
  top: 0;
  left: 708px;
  width: 46px;
  height: 46px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-6 {
  position: fixed;
  top: 2px;
  left: 763px;
  width: 46px;
  height: 46px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-7 {
  position: fixed;
  top: 5px;
  left: 817px;
  width: 47px;
  height: 47px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-8 {
  position: fixed;
  top: 27px;
  left: 872px;
  width: 52px;
  height: 52px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .rectangle-4 {
  position: fixed;
  top: 0;
  left: 1150px;
  width: 290px;
  height: 146px;
  background-color: #07b2d9;
  border-radius: 0px 0px 0px 20px;
  border: 1px solid;
  border-color: #000000;
}

.high-minhas-compras .text-wrapper-2 {
  position: fixed;
  top: 64px;
  left: 616px;
  width: 306px;
  font-family: "Kameron-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.high-minhas-compras .rectangle-5 {
  position: fixed;
  top: 20px;
  left: 1190px;
  width: 159px;
  height: 76px;
  background-color: var(--x-2);
  border-radius: 50px;
}

.high-minhas-compras .rectangle-6 {
  position: fixed;
  top: 30px;
  left: 1207px;
  width: 56px;
  height: 56px;
  background-color: #07b2d9;
  border-radius: 50px;
}

.high-minhas-compras .ellipse {
  position: fixed;
  top: 30px;
  left: 1275px;
  width: 56px;
  height: 56px;
  background-color: #07b2d9;
  border-radius: 28px;
}

.high-minhas-compras .image-9 {
  position: fixed;
  top: 39px;
  left: 1284px;
  width: 37px;
  height: 37px;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-minhas-compras .image-10 {
  position: fixed;
  top: 39px;
  left: 1216px;
  width: 37px;
  height: 37px;
  aspect-ratio: 1;
  object-fit: cover;
}