.high-passageiros {
  background-color: var(--x-2);
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 893px;
  position: relative;
}

.high-passageiros .rectangle {
  position: absolute;
  top: -7340px;
  left: -10519px;
  width: 104px;
  height: 133px;
}

.high-passageiros .img {
  position: absolute;
  top: -7294px;
  left: -9882px;
  width: 140px;
  height: 227px;
}

.high-passageiros .rectangle-2 {
  position: absolute;
  top: -7245px;
  left: -10490px;
  width: 59px;
  height: 75px;
}

.high-passageiros .frame {
  position: absolute;
  top: 289px;
  left: 24px;
  width: 1392px;
  height: 548px;
  background-color: var(--x-4);
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid;
  border-color: #ffffff;
}

.high-passageiros .div {
  position: absolute;
  top: 86px;
  left: 29px;
  width: 669px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-3 {
  position: absolute;
  top: 86px;
  left: 717px;
  width: 646px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-4 {
  position: absolute;
  top: 199px;
  left: 29px;
  width: 669px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-5 {
  position: absolute;
  top: 334px;
  left: 29px;
  width: 200px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-6 {
  position: absolute;
  top: 334px;
  left: 496px;
  width: 200px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-7 {
  position: absolute;
  top: 334px;
  left: 717px;
  width: 320px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-8 {
  position: absolute;
  top: 334px;
  left: 1043px;
  width: 320px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-9 {
  position: absolute;
  top: 334px;
  left: 263px;
  width: 200px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-10 {
  position: absolute;
  top: 454px;
  left: 32px;
  width: 233px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-11 {
  position: absolute;
  top: 454px;
  left: 292px;
  width: 226px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .text-wrapper {
  position: absolute;
  top: 34px;
  left: 29px;
  width: 260px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-2 {
  position: absolute;
  top: 161px;
  left: 29px;
  width: 222px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-3 {
  position: absolute;
  top: 291px;
  left: 32px;
  width: 298px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .rectangle-12 {
  position: absolute;
  top: 199px;
  left: 717px;
  width: 143px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .rectangle-13 {
  position: absolute;
  top: 199px;
  left: 894px;
  width: 469px;
  height: 66px;
  background-color: #c2e5f2e6;
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--x-3);
}

.high-passageiros .p {
  position: absolute;
  top: 161px;
  left: 717px;
  width: 434px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-4 {
  position: absolute;
  top: 291px;
  left: 717px;
  width: 77px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-5 {
  position: absolute;
  top: 468px;
  left: 80px;
  width: 188px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-6 {
  position: absolute;
  top: 468px;
  left: 330px;
  width: 188px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-7 {
  position: absolute;
  top: 34px;
  left: 717px;
  width: 189px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .text-wrapper-8 {
  position: absolute;
  top: 103px;
  left: 53px;
  width: 444px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-9 {
  position: absolute;
  top: 103px;
  left: 744px;
  width: 444px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-10 {
  position: absolute;
  top: 221px;
  left: 735px;
  width: 59px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-11 {
  position: absolute;
  top: 355px;
  left: 765px;
  width: 117px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-12 {
  position: absolute;
  top: 355px;
  left: 1098px;
  width: 117px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-13 {
  position: absolute;
  top: 221px;
  left: 923px;
  width: 99px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-14 {
  position: absolute;
  top: 221px;
  left: 53px;
  width: 176px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-15 {
  position: absolute;
  top: 356px;
  left: 53px;
  width: 176px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-16 {
  position: absolute;
  top: 356px;
  left: 289px;
  width: 56px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .text-wrapper-17 {
  position: absolute;
  top: 356px;
  left: 522px;
  width: 57px;
  font-family: var(--4-font-family);
  font-weight: var(--4-font-weight);
  color: #a19595;
  font-size: var(--4-font-size);
  letter-spacing: var(--4-letter-spacing);
  line-height: var(--4-line-height);
  white-space: nowrap;
  font-style: var(--4-font-style);
}

.high-passageiros .ellipse {
  left: 733px;
  position: absolute;
  top: 356px;
  width: 22px;
  height: 22px;
}

.high-passageiros .ellipse-2 {
  left: 1062px;
  position: absolute;
  top: 356px;
  width: 22px;
  height: 22px;
}

.high-passageiros .text-wrapper-18 {
  position: absolute;
  top: 243px;
  left: 53px;
  width: 299px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: #000000;
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  white-space: nowrap;
  font-style: var(--3-font-style);
}

.high-passageiros .line {
  position: absolute;
  top: 186px;
  left: 80px;
  width: 1280px;
  height: 7px;
}

.high-passageiros .rectangle-14 {
  position: fixed;
  top: -14px;
  left: 24px;
  width: 1392px;
  height: 160px;
  background-color: var(--x-3);
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.high-passageiros .lovepik-com {
  position: fixed;
  top: 24px;
  left: 485px;
  width: 153px;
  height: 122px;
  aspect-ratio: 1.25;
}

.high-passageiros .image {
  top: 50px;
  left: 641px;
  width: 37px;
  height: 37px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .image-2 {
  top: 30px;
  left: 694px;
  width: 38px;
  height: 38px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .image-3 {
  top: 15px;
  left: 735px;
  width: 51px;
  height: 51px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .image-4 {
  top: 17px;
  left: 796px;
  width: 51px;
  height: 51px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .image-5 {
  top: 24px;
  left: 849px;
  width: 52px;
  height: 52px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .image-6 {
  top: 49px;
  left: 895px;
  width: 52px;
  height: 52px;
  position: fixed;
  aspect-ratio: 1;
  object-fit: cover;
}

.high-passageiros .text-wrapper-19 {
  position: fixed;
  top: 75px;
  left: 641px;
  width: 314px;
  font-family: "Kameron-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}